.DS_Store
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.pdb
*.tlog
*.ilk
*.obj
*.o
*.so
*.*~
*.orig
*.stamp
*.depend
*.sln
*.suo
*.user
*.kdev4
*.vcxproj
*.filters
# General OS files #
####################
/VSBuild/*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*~



/build/CMakeFiles/Progress/8
/build/include/client/Players/Makefile
/VSBuild/Win32/Debug/ALL_BUILD/ALL_BUILD.vcxprojResolveAssemblyReference.cache
/build/include/client/Players/cmake_install.cmake
/VSBuild/cmake_install.cmake
/VSBuild/src/client/Players/cmake_install.cmake
/build/include/client/Players/CMakeFiles/CMakeDirectoryInformation.cmake
/src/client/Game.cpp~.BACKUP.20200.cpp~
/src/client/Game.cpp~.BASE.20200.cpp~
/src/client/Game.cpp~.LOCAL.20200.cpp~
/src/client/Game.cpp~.REMOTE.20200.cpp~
/src/client/Map.cpp~
/VSBuild/
/VSBuild/src/client/Players/CMakeFiles/generate.stamp.depend
/VSBuild/ALL_BUILD.vcxproj.filters
/VSBuild/ZERO_CHECK.vcxproj.filters
/src/client/Players/PlayerInformation.hpp~
/VSBuild/src/server/server.dir/Debug/server.Build.CppClean.log
/build/include/client/Players/CMakeFiles/progress.marks
/VSBuild/src/client/client.dir/Debug/mersenne.obj
/VSBuild/src/client/client.dir/Debug/Player.obj
/VSBuild/src/client/client.dir/Debug/PlayerInformation.obj
/VSBuild/src/client/client.dir/Debug/tcp_net.obj
/VSBuild/src/server/server.dir/Debug/tcp_net_serv.obj
/VSBuild/src/client/client.dir/Debug/UI_Elements.obj
/VSBuild/src/client/client.dir/Debug/UIComponent.obj
/VSBuild/SM2ACM3k1.opensdf
/src/client/Game.cpp.orig
/VSBuild/src/client/Debug/111111.priv.ppk
/VSBuild/src/client/Debug/111111.pub
/VSBuild/SM2ACM3k1.sdf
/VSBuild/SM2ACM3k1.sln
/VSBuild/src/client/Players/CMakeFiles/generate.stamp
/VSBuild/SM2ACM3k1.suo
/VSBuild/src/server/server.dir/Debug/link.2112-cvtres.read.1.tlog
/VSBuild/src/server/server.dir/Debug/link.2112-cvtres.write.1.tlog
/VSBuild/src/server/server.dir/Debug/link.2112.read.1.tlog
/VSBuild/src/server/server.dir/Debug/link.2112.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.4284-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.4284-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.4284.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.4284.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.5688-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.5688-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.5688.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.5688.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6352-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6352-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6352.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6352.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6632-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6632-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6632.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6632.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6660-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6660-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6660.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6660.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6940-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6940-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6940.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.6940.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.7056-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.7056-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.7056.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.7056.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.7260-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.7260-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.7260.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.7260.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.8632-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.8632-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.8632.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.8632.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.8876-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.8876-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.8876.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.8876.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9292-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9292-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9292.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9292.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9496-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9496-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9496.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9496.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9592-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9592-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9592.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9592.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9964-cvtres.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9964-cvtres.write.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9964.read.1.tlog
/VSBuild/src/client/client.dir/Debug/link.9964.write.1.tlog
/VSBuild/CMakeCache.txt
/build/CMakeFiles/Progress/count.txt
/VSBuild/ALL_BUILD.vcxproj.user
/VSBuild/ZERO_CHECK.vcxproj.user
/VSBuild/ALL_BUILD.vcxproj
/VSBuild/ZERO_CHECK.vcxproj
/VSBuild
/VSBuild/Win32
/VSBuild/CMakeFiles
/VSBuild/src
/VSBuild/ipch
/VSBuild/Win32
/build
/.kdev4
/src/client/UIComponent.cpp
/include/client/UIComponent.hpp

/VSBuild
/VSBuild/CMakeFiles
/VSBuild/CMakeFiles/CMakeOutput.log
/VSBuild/CMakeFiles/CMakeRCCompiler.cmake
/VSBuild/CMakeFiles/CMakeSystem.cmake
/VSBuild/CMakeFiles/generate.stamp
/VSBuild/CMakeFiles/generate.stamp.depend
/VSBuild/CMakeFiles/generate.stamp.list
/VSBuild/CMakeFiles/generate.stamp.rule
/VSBuild/CMakeFiles/TargetDirectories.txt
/VSBuild/CMakeFiles/ZERO_CHECK.rule
/VSBuild/CMakeFiles/ALL_BUILD.rule
/VSBuild/CMakeFiles/cmake.check_cache
/VSBuild/CMakeFiles/CMakeCCompiler.cmake
/VSBuild/CMakeFiles/CMakeCPlatform.cmake
/VSBuild/CMakeFiles/CMakeCXXCompiler.cmake
/VSBuild/CMakeFiles/CMakeCXXPlatform.cmake
/VSBuild/CMakeFiles/CMakeDetermineCompilerABI_C.bin
/VSBuild/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
/VSBuild/CMakeFiles/CMakeError.log
/VSBuild/ipch
/VSBuild/src/server/server.dir
/VSBuild/src/server/cmake_install.cmake
/VSBuild/src/server/server.vcxproj
/VSBuild/src/server/server.vcxproj.filters
/VSBuild/src/server/server.vcxproj.user
/VSBuild/src/server/CMakeFiles
/VSBuild/src/server/Debug
/VSBuild/src/server/CMakeFiles/generate.stamp.depend
/VSBuild/src/server/CMakeFiles/generate.stamp
/VSBuild/src/server/Debug/server.ilk
/VSBuild/src/server/Debug/server.pdb
/VSBuild/src/server/Debug/server.exe
/VSBuild/src/server/server.dir/Debug/rc.command.1.tlog
/VSBuild/src/server/server.dir/Debug/rc.read.1.tlog
/VSBuild/src/server/server.dir/Debug/rc.write.1.tlog
/VSBuild/src/server/server.dir/Debug/server.exe.embed.manifest
/VSBuild/src/server/server.dir/Debug/server.exe.embed.manifest.res
/VSBuild/src/server/server.dir/Debug/server.exe.intermediate.manifest
/VSBuild/src/server/server.dir/Debug/server.lastbuildstate
/VSBuild/src/server/server.dir/Debug/server.log
/VSBuild/src/server/server.dir/Debug/server.write.1.tlog
/VSBuild/src/server/server.dir/Debug/server_manifest.rc
/VSBuild/src/server/server.dir/Debug/mt.write.1.tlog
/VSBuild/src/server/server.dir/Debug/Packets.obj
/VSBuild/src/server/server.dir/Debug/link.command.1.tlog
/VSBuild/src/server/server.dir/Debug/link.read.1.tlog
/VSBuild/src/server/server.dir/Debug/link.write.1.tlog
/VSBuild/src/server/server.dir/Debug/link-cvtres.read.1.tlog
/VSBuild/src/server/server.dir/Debug/link-cvtres.write.1.tlog
/VSBuild/src/server/server.dir/Debug/Main.obj
/VSBuild/src/server/server.dir/Debug/cl.command.1.tlog
/VSBuild/src/server/server.dir/Debug/CL.read.1.tlog
/VSBuild/src/server/server.dir/Debug/CL.write.1.tlog
/VSBuild/src/server/server.dir/Debug/custombuild.command.1.tlog
/VSBuild/src/server/server.dir/Debug/custombuild.read.1.tlog
/VSBuild/src/server/server.dir/Debug/custombuild.write.1.tlog
/VSBuild/src/server/server.dir/Debug/Game.obj
/VSBuild/Win32/Debug/ZERO_CHECK/ZERO_CHECK.lastbuildstate
/VSBuild/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
/VSBuild/Win32/Debug/ZERO_CHECK/ZERO_CHECK.vcxprojResolveAssemblyReference.cache
/VSBuild/Win32/Debug/ZERO_CHECK/custombuild.command.1.tlog
/VSBuild/Win32/Debug/ZERO_CHECK/custombuild.read.1.tlog
/VSBuild/Win32/Debug/ZERO_CHECK/custombuild.write.1.tlog
/VSBuild/Win32/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
/VSBuild/src/server/server.dir
/VSBuild/src/client/Debug
/VSBuild/src/client/CMakeFiles
/VSBuild/src/client/client.dir
/VSBuild/src/client/client.vcxproj
/VSBuild/src/client/client.vcxproj.filters
/VSBuild/src/client/client.vcxproj.user
/VSBuild/src/client/cmake_install.cmake
/VSBuild
/VSBuild